
    body {
        padding: 5% 15%;
    }

    /*
      Group styles
    */

    #left ,#right , #center {
        background-color: grey;
    }

    h1 {
        color: #fff;
    }

    p {
        color: #8bb7b8;
        font-weight: 700;;
    }

    /*
      Left side design
    */

    #left {
        background-color: #e28525;
    }

    /*
      Center design
    */

    #center {
        background-color: #016972;
    }

    /*
      Right side design
    */

    #right {
        background-color: #00403f;
    }