
    body {
        padding: 5% 15%;
    }

    /*
      Group styles
    */

    #left ,#right , #center {
        padding: 5% 5%;
    }

    h1 {
        color: #fff;
        padding: 15% 0 15% 0;
        font-weight: 700;
    }

    p {
        color: #dbdcdb;
        font-weight: 700;
        line-height: 1.5;
        margin: 10% 0 40% 0;
        font-size: 110%;
    }

    /*
      Left side design
    */

    #left {
        background-color: #e28525;
    }


    /*
      Center design
    */

    #center {
        background-color: #016972;
    }

    /*
      Right side design
    */

    #right {
        background-color: #00403f;
    }

    #right > p {
        margin-bottom: 30%;
    }



    .attribution {
        text-align: center;
    }